* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
header{
  width: 100vw;
  background-color: #03045E;
  display:flex;
  align-self:center;
  justify-content: center;
  padding: 2rem;
  color: white;
  font-family: 'Press Start 2P', system-ui;
}

#game, #containerBtn, #marcador {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #CAF0F8;
}

#containerGlobal {
  width: 60vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 3rem;
  border-radius: 5px;
 
}

.zonaJugador {
  width: 50%;
  height: 100%;
 background-color: #03045E;
 border-radius: 5px;
}

.opcionSelect{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#containerBtn{
    padding: 3rem;
    
}

.btnOpcion{
    font-size: 6rem;
    border: none;
    transition: all 0.5s;
    background-color: transparent;
}
.btnOpcion:hover{
    scale: 1.20;
}

#opcionJugador, #opcionMaquina{
    font-size: 6rem;
}

.title{
    background-color: #023E8A;
    text-align: center;
    padding: 0.5rem 0rem;
    font-size: 3rem;
    border-radius: 5px;
}

.marcadorContainer{
  display: flex;
  padding: 2rem;
  gap: 3rem;
  font-size: 3rem;
  color: white;
  font-family: 'Press Start 2P', system-ui;
  

}
.marcadorUser, .marcadorMaquina{
background-color: #023E8A;
border: 5px solid #03045E;
padding: 2rem;
border-radius: 5px;
}